@page
@model ProyectoCiclo3.App.Frontend.Pages.DetailsBusModel
@{
    var bus = Model.Bus;
}
 
<ul class="list-group list-group-flush">
  <h1 style="background: linear-gradient(#000046, #2f4f4f); color: #dcdcdc">Detalles</h1>
  <li class="list-group-item" style="background:#d3d3d3"> <b>id: </b> @bus.id</li>
  <li class="list-group-item" style="background:#d3d3d3"> <b>Marca: </b> @bus.marca</li>
  <li class="list-group-item" style="background:#d3d3d3"> <b>Modelo: </b> @bus.modelo</li>
  <li class="list-group-item" style="background:#d3d3d3"><b>Kilometraje: </b> @bus.kilometraje</li>
  <li class="list-group-item" style="background:#d3d3d3"><b>Numero de asientos: </b> @bus.numero_asientos</li>
  <li class="list-group-item" style="background:#d3d3d3"><b>Placa: </b> @bus.placa</li>
</ul>	