@page
@model ProyectoCiclo3.App.Frontend.Pages.ListRutaModel
@{
}
 
<h1 style="background: linear-gradient(#000046, #2f4f4f); color: #dcdcdc">Listado de Rutas</h1>
<table class="table table-secondary table-striped">
    <tr style="background:linear-gradient(#000046, #2f4f4f); color:#dcdcdc">
        <th>Id</th>
        <th>Origen</th>
        <th>Destino</th>
        <th>Tiempo estimado</th>
        <th>Opciones</th>
    </tr>
    @foreach (var ruta in Model.Rutas)
    {
        <tr>
            <td>@ruta.id</td>
            <td>@ruta.origen</td>
            <td>@ruta.destino</td>
            <td>@ruta.tiempo_estimado</td>
            <td>
              <a class="btn btn-success" asp-page="./Details" asp-route-rutaId="@ruta.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-rutaId="@ruta.id">Editar</a>
              <a class="btn btn-danger" href="">Eliminar</a>
              </td>
        </tr>
    }
</table>