@page
@model ProyectoCiclo3.App.Frontend.Pages.ListEstacionesModel
@{
}
 
<h1 style="background: linear-gradient(#000046, #2f4f4f); color: #dcdcdc">Listado de Estaciones</h1>
<table class="table table-secondary table-striped">
    <tr style="background:linear-gradient(#000046, #2f4f4f); color:#dcdcdc">
        <th>Id</th>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Coordenada X</th>
        <th>Coordenada Y</th>
        <th>Tipo</th>
        <th>Opciones</th>
    </tr>
    @foreach (var estacion in Model.Estaciones)
    {
        <tr>
            <td>@estacion.id</td>
            <td>@estacion.nombre</td>
            <td>@estacion.direccion</td>
            <td>@estacion.coord_x</td>
            <td>@estacion.coord_y</td>
            <td>@estacion.tipo</td>
            <td>
              <a class="btn btn-success" asp-page="./Details" asp-route-estacionId="@estacion.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-estacionId="@estacion.id">Editar</a>
              <form method="POST">
            <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@estacion.id">
              <button type="submit"class="btn btn-danger" href="">Eliminar</button>
            </form>
              </td>
        </tr>
    }
</table>